<div ng-controller="CuriosityCtrl">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              {{heading}}
            </span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>

  <uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" heading="Manifest" is-open="false">
      <ul>
        <li>Rover: {{roverName}}</li>
        <li>Launch Date: {{roverLaunchDate}}</li>
        <li>Landing Date: {{roverLandingDate}}</li>
        <li>Mission Status: {{roverStatus}}</li>
        <li>Photos taken: {{roverTotalPhotos}}</li>
      </ul>
    </div>
    <div uib-accordion-group class="panel-default" heading="Cameras" is-open="false">
      <p>Most recent image:</p>
      <img class="rover-photo" ng-src="{{mostRecent}}">
      Choose a camera.
    </div>
    <div uib-accordion-group class="panel-default" heading="History" is-open="false">
      <h3>Curiosity</h3>
      <p>This is where we put the history of the mission</p>
    </div>
  </uib-accordion>

</div>
