<div class="jumbotron">
  <h1>RoverTrak</h1>
  <p class="lead">
    Welcome to the RoverTrak development site. This is where we will wire up the functionality of the RoverTrak mobile app!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="https://api.nasa.gov/">NASA Open APIs</span></a></p>
</div>

<div class="row marketing">
  <div class="light-body">
  <h4>Mission View</h4>
  <p>
    The mission view will show current mission-related data for your rover of choice.
  </p>

  <h4>History View</h4>
  <p>
    The history view will show background information about each rover.
  </p>

  <h4>Camera View</h4>
  <p>The camera view will allow you to see the most recent photo imagery from any rover camera.</p>
  </div>
</div>
