<div class="jumbotron">
  <h1>RoverTrak</h1>
  <p class="lead">
    Welcome to the RoverTrak development site. This is where we will wire up the functionality of the RoverTrak mobile app!
  </p>

</div>

<!--<div class="main-buttons">
<div class="btn-group btn-group" role="group">
  <button type="button" class="btn btn-success" role="button"><a ng-href="#/curiosity" href="#/curiosity">Curiosity</a></button>
  <button type="button" class="btn btn-success" role="button"><a ng-href="#/opportunity" href="#/opportunity">Opportunity</a></button>
  <button type="button" class="btn btn-success" role="button"><a ng-href="#/spirit" href="#/spirit">Spirit</a></button>
</div>
</div>-->

<div class="main-buttons">
<div class="btn-group btn-group" role="group">
  <button type="button" class="btn btn-success" role="button" ng-click="roverName = 'Curiosity'">Curiosity</button>
  <button type="button" class="btn btn-success" role="button" ng-click="roverName = 'Opportunity'">Opportunity</button>
  <button type="button" class="btn btn-success" role="button" ng-click="roverName = 'Spirit'">Spirit</button>
</div>
</div>
