<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Cameras <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>Front Hazard</li>
      <li>Rear Hazard</li>
      <li>Navigation</li>
    </ul>
  </li>
</ul>

<div class="container" ng-controller="ManifestCtrl">
  <p style="color: white">{{roverName}}</p>
  <p style="color: white">{{roverLaunchDate}}</p>
  <p style="color: white">{{roverLandingDate}}</p>
  <p style="color: white">{{roverStatus}}</p>
  <p style="color: white">{{roverTotalPhotos}}</p>
</div>
